@import "./characters/characters.css";
@import url("./login-page.css");
body {
    margin: 0;
}
nav {
    position: absolute;
    margin: 0;
}
section {
    height: 100vh;
    width: 100vw;
}

[data-view="game"] {
    background-image: url("./first-bg.png");
}
h1 {
    color: red;
}
.fight-arena {
    display: flex;
    align-items: center;
    justify-content: center;
}
.enemies-group {
    display: flex;
}