@import "./characters/characters.css";
@import url("./login-page.css");
body {
  margin: 0;
}
nav {
  position: absolute;
  z-index: 9;
}
section {
  height: 100vh;
  width: 100vw;
}
[data-view="menu"] {
  background-image: url("./assets/img/background/menu-bg.png");
}
.ork-kingdom {
  height: 250px;
  position: absolute;
  right: 150px;
  top: 120px;
}
[data-view="map"] {
  background-size: cover;
  background-position: center;
  position: relative;
  background-image: url('./assets/img/map/map-bg.png');
}
[data-view="game"] {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
[data-view="game"]::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./bg_back.png");
  background-size: cover;
  background-position: center;
  z-index: -2;
  pointer-events: none;
}

[data-view="game"]::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("./bg_front.png");
  background-position: center;
  z-index: 1;
  pointer-events: none;
}
h1 {
  color: red;
}
.fight-arena {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100vh;
}
.enemies-group {
  display: flex;
  height: 400px;
}

.cursor-attack {
  cursor:
    url("./miecz2.png") 0 0,
    pointer;
}

.player-menu {
  position: absolute;
  top: 80%;
  z-index: 3;
  width: 350px;
  height: 150px;
  background-image: url("./assets/img/menu-btn/menu-panel.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.player-menu > button{
  background: none;
  border: none;
  padding: 0;
}
.player-menu > button:hover{
  transform: scale(1.1);
}
.player-menu > button > img{
  height: 80px;
  cursor: pointer;
}

.fighting_contener {
  border: 14px solid black;
  z-index: 9;
  height: 400px;
  width: 1000px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
}

.dot {
  background-color: black;
  z-index: 9;
  height: 10px;
  width: 10px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none;
}

.start-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.start-menu > button {
  width: 200px;
  height: 80px;
  background-image: url("./assets/img/background/play-btn-bg.png");
  
}
.play {
  width: 600px;
  cursor: pointer;
  z-index: 3;
}
