.characters-group {
  display: flex;
  height: 400px;
}

.characters-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 1s ease;
  will-change: transform;
  position: relative;
  height: 300px;
  width: 150px;
}

.characters-div > img {
  position: absolute;
  height: 300px;

}
.enemy-div {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 1s ease;
  will-change: transform;
  width: 150px;
  height: 400px;
}

.enemy-div > img {
  position: absolute  ;
  height: 300px;
}


.enemy-div:hover {
  transform: scale(1.2);
}

.hp-bar {
  background: linear-gradient(
    to right,
    #6b0f0f,
    #b71c1c,
    #ff3b3b
  ); 
  width: 100%;
  transform-origin: left;
  transition: transform 0.3s ease;
}

.hp-bar-bg {
  width: 100px;
  background: linear-gradient(to bottom, #1a0707, #0b0202);
  border: 4px solid #3a1414;
  border-radius: 3px;
  box-shadow:
  inset 0 0 6px rgba(0,0,0,0.9),
   0 0 6px rgba(120, 20, 20, 0.6);
  margin-bottom: 20px;
  transform: translateY(-30px);

}

.hp-bar-enemy {
  background: linear-gradient(
    to right,
    #6b0f0f,
    #b71c1c,
    #ff3b3b
  ); 
  width: 100%;
  transform-origin: left;
  transition: transform 0.3s ease;
}

.hp-bar-bg-enemy {
  width: 100px;
  border-radius: 3px;
  box-shadow:
  inset 0 0 6px rgba(0,0,0,0.9),
   0 0 6px rgba(120, 20, 20, 0.6);
  }
